<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel='stylesheet' href='/stylesheets/css/style.css' />

</head>

<body>
  <div class="nav">
    <div class="nav-item icon" style="color:#ff6e3a">♬</div>
    <div class="nav-item home">
      <a href="#home">Home</a>
    </div>
    <div class="nav-item popular">
      <a href="#popular">Popular</a>
    </div>
    <div class="nav-item playlist">
      <a href="#playlist">Playlist</a>
    </div>
    <div class="nav-item history">
      <a href="#history">Thanks</a>
    </div>
  </div>
  <div class="section" id="home">
    <div class="background-wrap">
      <h1 class="slogan">Your Music Platform</h1>
      <hr/>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>
    </div>
  </div>
  <div class="section" id="popular">
    <div class="section-name">Popular</div>
    <div class="popular-wrap"></div>
  </div>
  <div class="section" id="playlist">
    <div class="section-name">Playlist</div>
    <div class="class-wrap">
      <div class="playlist_wrap">
        <div class="input_hint">Please enter your youtube playlist URL</div>
        <div class="input_wrap">
          <input class="playlist_url_input" type="text" />
          <button class="playlist_generate_button">></button>
        </div>
        <div class="playlist_container"></div>
      </div>
      <div class="class-list">
        <div class="list-header">
          <div class="header-name">Playlist</div>
          <div class="header-status">-</div>
        </div>
        <div class="list-member">
          <!-- <div class="song-name">Eminem - Lose Yourself</div>
          <div class="song-name">Wiz Khalifa - Roll Up</div>
          <div class="song-name">GorDon - Sample This</div>
          <div class="song-name">Chance the Rapper - Same Drugs</div>
          <div class="song-name">Aminé - Caroline</div>
          <div class="song-name">Kendrick Lamar - HUMBLE</div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="history">
    <div class="section-name">Thanks</div>

  </div>
  <script src="/javascripts/main.js"></script>

</body>

</html>