<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel='stylesheet' href='/stylesheets/css/style.css' />

</head>

<body>
  <div class="playlist">
    <input class="playlist_url_input" type="text" />
    <button class="playlist_generate_button">Go</button>
    <div class="playlist_container"></div>
  </div>
  <div class="title_container"></div>
  <script src="/javascripts/main.js"></script>

</body>

</html>